<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/defaults.xml"/>
	<include resource="org/springframework/boot/logging/logback/console-appender.xml" />
  <property
    name="CONSOLE_LOG_PATTERN"
    value="[${APPLICATION_NAME}] %-5p %-40.40logger{40} : %m %replace(%ex{short}){'\r?\n[ \t]*', ' | '}%n"
  />
	<root level="INFO">
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>