SERVER_BIND_ADDRESS=localhost
SERVER_BIND_PORT=8080
SERVER_MANAGEMENT_PORT=8081

APP_NAME=demo-reactive-web
APP_CONTEXT_PATH=api
APP_ENVIRONMENT=local

AWS_S3_URL=http://localhost:9000
AWS_S3_BUCKET=hb-storage
AWS_S3_HEALTHCHECK_TIMEOUT_SEC=2
AWS_S3_HEALTHCHECK_CACHE_TTL_SEC=10
AWS_S3_STORAGE_KEY_PREFIX=public
AWS_S3_STORAGE_KEY_META_OWNER=owner-id

AWS_REGION=ap-southeast-1
AWS_ACCESS_KEY_ID=admin
AWS_SECRET_ACCESS_KEY=P@ssw0rd