SERVER_BIND_ADDRESS=localhost
SERVER_BIND_PORT=8080
SERVER_MANAGEMENT_PORT=8081

APP_NAME=demo-reactive-web
APP_CONTEXT_PATH=
APP_ENVIRONMENT=local

AWS_S3_URL=http://localhost:9000
AWS_S3_BUCKET=hb-storage
AWS_S3_HEALTHCHECK_TIMEOUT_SEC=2
AWS_S3_HEALTHCHECK_CACHE_TTL_SEC=10
AWS_S3_STORAGE_KEY_PREFIX=public
AWS_S3_STORAGE_KEY_META_OWNER=owner
AWS_S3_STORAGE_KEY_META_CREATED_AT=created-at

AWS_REGION=ap-southeast-1
AWS_ACCESS_KEY_ID=admin
AWS_SECRET_ACCESS_KEY=P@ssw0rd

STORAGE_URL=http://localhost:8080/api/storage/files/

STORAGE_FILE_SUPPORTED_ID_LENGTH_CHAR=30
STORAGE_FILE_SUPPORTED_CONTENT_LENGTH_BYTE=1000000
STORAGE_FILE_SUPPORTED_CONTENT_GROUPS=image,text
STORAGE_FILE_SUPPORTED_CONTENT_TYPES=application/json,application/xml

STORAGE_FILE_OPERATION_TIMEOUT_SEC=2
STORAGE_FILE_UPLOAD_TIMEOUT_SEC=10
STORAGE_FILE_UPLOAD_IDLE_TIMEOUT_SEC=2
STORAGE_FILE_DOWNLOAD_TIMEOUT_SEC=5
STORAGE_FILE_DOWNLOAD_IDLE_TIMEOUT_SEC=2